@media screen and (max-width: 768px) {
    /* Navbar */
    body {
        width: 768px !important;
    }

    .navbar {
        margin: 0;
    }
    
    .navbar_conteneur {
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 0;
    }

    .conteneur2 {
        display: flex;
        flex-direction: row;
        gap: 0;
    }

    .navbar_element {
        padding-bottom: 10px;
    }

    .logo {
        display: block;
        margin-left: auto;
        margin-right: auto
    }
    
    .active {
        border-top: none;
        border-bottom: solid #0065fc;
        text-align: center;
    }

    .inactive {
        border-bottom: solid #f2f2f2;
        text-align: center;
    }

    .element:nth-child(2)
    {
        flex: none;
    }
    .element:nth-child(3)
    {
        flex: none;
    }

    /* HEADER */
    .header {
        margin: 20px;
    }

    .desktop {
        display: none;
    }

    .phone {
        left: -10px;
        display: block;
        background: #0065fc;
        width: 50px;
        height: 50px;
        border: 1px solid #0065fc;
        border-radius: 15px ;
    }

    .fa-magnifying-glass {
        color: white;
    }

    /* Filtres */
    .ensemble_btn_filtre {
        flex-wrap: wrap;
    }
    .p-filtre {
        width: 100%;
    }

    .btn-filtre {
        margin-left: 0;
        margin-right: 10px;
        width: 160px;
        height: 50px;
    }

    .text_btn_filtre {
        font-size: 11px;
    }

    /* CONTENU PRINCIPAL */
    .main {
        margin: 0 !important;
    }

    .hebergement_populaire {
        flex-direction: column-reverse !important;
        margin-bottom: 0;
    }

    #hebergement {
        background-color: white;
        padding: 20px;
    }

    .conteneur_hebergement, .conteneur_populaire {
        flex-direction: column;
        align-items: flex-start;
    }

    .card {
        width: 335px;
        height: 200px;
        margin-bottom: 15px;
    }

    .card-body {
        padding: 0;
    }

    .nomHotel, .nuit, .star {
        margin: 8px 0 0 10px;
        font-size: 16px !important;
    }

    /* Populaire */
    #populaire {
        border-radius: 0;
        padding: 20px;
        width: min-content !important;
    }
    .card-aside {
        width: 335px !important;
        height: 145px !important;
        padding: 5px 2px !important;
    }

    .nuit-aside {
        font-size: 14px !important;
        margin: 8px 0 0 10px;
    }

    /* Activités */
    #activites {
        padding: 20px;
    }

    .block_activite {
        display: flex;
        flex-direction: column;
    }
    
    .card_activite {
        width: 335px;
        height: 190px;
        margin-bottom: 25px;
    }

    .card_img_activite {
        width: 334px !important;
        height: 135px !important;
    }

    /* FOOTER */
    .page-footer {
        background-color: #f2f2f2;
        padding: 20px 250px 40px 30px;
        margin: 0;
    }

    .container-footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    h2 {
        padding-top: 30px;
    }

    .lien {
        display: flex;
    }
}