@media screen and (max-width: 992px) 
{
    /* Filtre */
    .filtre {
        flex-wrap: wrap;
        align-items: baseline;
    }

    .btn-filtre {
        margin-bottom: 20px;
    }


    /* FOOTER */
    .page-footer {
        background-color: #f2f2f2;
        padding: 20px 55px 40px 55px;
    }

}