body {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    width: 1400px;
} 

h2 {
    font-weight: 700px;
    font-size: 22px;
}

/* NAVBAR */
.navbar {
    margin: 0 50px 0 50px;
}

.navbar_conteneur
{
    display: flex;
    padding: 0 10px 30px 10px;
}

.conteneur {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 70px;
}

.navbar_element {
    padding-top: 50px;
    font-weight: bold;
}

.logo {
    height: 50px;
}

.navbar_element:nth-child(1)
{
    flex: 6;
}

.navbar_element:nth-child(2)
{
    flex: 1;
}

a {
    text-decoration: none;
    color: black;
}

.active:hover {
    
    border-top: solid #0065fc;
    text-align: center;
}

.lienActif {
    color: #0065fc;
}


/* HEADER */
.header {
    margin: 20px 50px 20px 50px;
}

h1 {
    font-size: x-large;
    font-weight: bold;
}

/* Barre de recherche */
.form_container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

input {
    font-size: 20px;
}

.fa-location-dot {
    color: black !important;
}

.form_position {
    border-radius: 17px 0 0 17px;
    width: 50px;
    height: 50px;
    border: 1px solid #f2f2f2;
    background: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.desktop {
    display: block;
}

.phone {
    display: none;
}

input[type="text"] {
    font-weight: bold;
    width: 200px;
    height: 50px;
    padding: 0 25px;
    border: 1px solid #f2f2f2;
}

input[type="submit"] {
    background: #0065fc;
    color: white;
    width: 150px;
    height: 50px;
    border: 1px solid #0065fc;
    border-radius: 0 17px 17px 0;
}

/* Filtres */
.filtre {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 30px 0 30px 0;
}

.btn-filtre {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    margin-left: 30px;
    padding-right: 20px;
}

.btn-filtre:hover {
   background-color: #deebff
}

.img-filtre {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

.fa-solid {
    color: #0065fc;
    font-size: 20px;
}

/* Info */
.info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.img-info {
    margin-right: 10px;
    padding: 2px 8px 2px 8px;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
}

.fa-info {
    font-size: 13px;
}

/* Contenu principal */
.main {
    margin: 50px 25px 30px 50px;
}
strong {
    font-weight: bold;
}

.hebergement_populaire {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}

/* Hébergement */
#hebergement {
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 40px;
    width: 80%;
}

.card-title {
    margin-top: 15px;
    margin-bottom: 20px;
}

.card-title-bottom {
    padding-left: 3%;
    margin: 0 0 20px 0;
}

.conteneur_hebergement {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: calc((100% / 3)-15px);
}

.card {
    width: 245px;
    height: 200px;
    padding: 5px;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card-img {
    height: 110px;
    position: relative;
    overflow: hidden;
    border-radius: 20px 20px 0 0;
}

.card-img img {
    width: 100%;
    /* Méthode de centrage en fonction de la taille de l'image */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card {
    /* La transition s'applique à la fois sur la largeur et la hauteur, avec une durée d'une seconde. */
    -webkit-transition: all 1s ease; /* Safari et Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* Internet Explorer 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.card:hover {
    /* L'image est grossie de 15% */
    -webkit-transform:scale(1.15); /* Safari et Chrome */
    -moz-transform:scale(1.15); /* Firefox */
    -ms-transform:scale(1.15); /* Internet Explorer 9 */
    -o-transform:scale(1.15); /* Opera */
    transform:scale(1.15);
}

.card-body {
    text-align:start;
    padding: 2%;
    box-sizing: border-box;
}

.nomHotel {
    margin: 3%;
    font-size: 18px;
}

.nomHotel:hover {
    color: #0065fc;
}

.nuit {
    margin: 3%;
    font-size: 15px;
}

.star {
    margin: 3%;
}

.star-blue {
    color: #0065fc;
    font-size: 80%;
}

.star-grey {
    color: #f2f2f2;
    font-size: 80%;
}

/* Populaire */
#populaire {
    display: flex;
    flex-wrap: wrap;
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 35px;
    width: 400px;
    margin-left: 3%;
}

.populaire_title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.conteneur_populaire {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: calc((100% / 3)-15px);
}

.card-aside {
    width: 345px;
    height: 145px;
    padding: 5px;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card-img-aside {
    height: 180px;
    position: relative;
    overflow: hidden;
    border-radius: 20px 0 0 20px;
}

.card-img-aside img {
    height: auto;
    /* Méthode de centrage en fonction de la taille de l'image */
}

/* Activités */
.block_activite {
    display: flex;
}

.card_activite {
    margin: 20px 40px 20px 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 20px;
}

.card_img_activite {
    width: 300px;
    height: 390px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.card_text {
    background-color: white;
    padding-left: 20px;
}

/* FOOTER */
.page-footer {
    margin-left: 50px;
    margin-right: 25px;
    background-color: #f2f2f2;
    padding: 20px 250px 40px 55px;
}

.container-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


h2 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0;
}

.lien {
    display: block;
    color: black;
    text-decoration: none;
    padding-top: 15px;
}