body {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}    

/* NAVBAR */
.navbar {
    margin: 0 50px 0 50px;
}

.conteneur
{
    display: flex;
    padding: 0 10px 30px 10px;
}

.conteneur2 {
    display: flex;
    flex-direction: row;
    gap: 70px;
}

.element {
    padding-top: 50px;
    font-weight: bold;
}

.logo {
    height: 50px;
}

.element:nth-child(1)
{
    flex: 6;
}

.element:nth-child(2)
{
    flex: 1;
}

.active {
    color: #0065fc;
    border-top: solid #0065fc;
    text-align: center;
}

/* HEADER */
.header {
    margin: 20px 50px 20px 50px;
}

h1 {
    font-size: x-large;
    font-weight: bold;
}

/* Barre de recherche */
.form-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

input {
    font-size: 20px;
}

.fa-location-dot {
    color: black !important;
}

.position {
    border-radius: 10px 0 0 10px;
    width: 50px;
    height: 50px;
    border: 1px solid #f2f2f2;
    background: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.desktop {
    display: block;
}

.phone {
    display: none;
}

input[type="text"] {
    font-weight: bold;
    width: 200px;
    height: 50px;
    padding: 0 25px;
    border: 1px solid #f2f2f2;
}

input[type="submit"] {
    background: #0065fc;
    color: white;
    width: 150px;
    height: 50px;
    border: 1px solid #0065fc;
    border-radius: 0 10px 10px 0;
}

/* Filtres */
.filtre {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 30px 0 30px 0;
}

.btn-filtre {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    border-left: none;
    margin-left: 30px;
    padding-right: 20px;
}

.img-filtre {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: #deebff;
    margin-right: 20px;
}

.fa-solid {
    color: blue;
    font-size: 20px;
}

/* Info */
.info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.img-info {
    margin-right: 10px;
    padding: 2px 8px 2px 8px;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
}

.fa-info {
    font-size: 13px;
}



/* FOOTER */
.page-footer {
    background-color: #f2f2f2;
    padding: 20px 250px 40px 55px;
}

.container-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


h2 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0;
}

.lien {
    display: block;
    color: black;
    text-decoration: none;
    padding-top: 15px;
}